{% extends 'base.html' %}
{% block title %}Cadastrar Pessoa{% endblock %}
{% block content %}
<h2>Cadastrar Novo Usuário</h2>
<form method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="nome" name="nome" required>
    </div>
    <div class="mb-3">
        <label for="identificacao" class="form-label">CPF:</label>
        <input type="text" class="form-control" id="identificacao" name="identificacao" required>
    </div>
    <div class="mb-3">
        <label for="imagem" class="form-label">Imagem:</label>
        <input type="file" class="form-control" id="imagem" name="imagem" accept="image/*" required>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}
